<app-editable-table header="Shipping Regions" [service]="service">
    <matx-column field="shippingRegion" header="Shipping Region">
      <ng-template matxEditor let-controls>
        <mat-form-field class="w-100">
          <input type="text" [formControl]="controls.shippingRegion" matInput required minlength="3">
          <mat-error>
            <matx-errors [field]="controls.shippingRegion"></matx-errors>
          </mat-error>
        </mat-form-field>
      </ng-template>
    </matx-column>
</app-editable-table>
