<mat-toolbar color="primary">
  <matx-back-button></matx-back-button>
  <div class="col">{{operation | titlecase}} Product</div>
</mat-toolbar>

<section class="container py-3">
  <form #f="ngForm" (ngSubmit)="save(f)">
    <matx-input name="name" [(ngModel)]="model.name" #name="ngModel" label="Name" required
                maxlength="20">
      <matx-errors [field]="name"></matx-errors>
    </matx-input>

    <matx-textarea name="description" [(ngModel)]="model.description" #description="ngModel" label="Description"
                   maxlength="200">
      <matx-errors [field]="description"></matx-errors>
    </matx-textarea>

    <matx-input name="display" [(ngModel)]="model.display" #display="ngModel" label="Display" required
                type="number" min="0" max="1000" step="0.01">
      <matx-errors [field]="display"></matx-errors>
    </matx-input>

    <matx-input name="price" [(ngModel)]="model.price" #price="ngModel" label="Price" required
                type="number" min="0" max="1000" step="0.01">
      <matx-errors [field]="price"></matx-errors>
    </matx-input>

    <matx-input name="discountedPrice" [(ngModel)]="model.discountedPrice" #discountedPrice="ngModel"
                label="Discounted Price" required type="number" min="0" max="1000" step="0.01">
      <matx-errors [field]="discountedPrice"></matx-errors>
    </matx-input>

    <matx-select name="categories" [(ngModel)]="model.categories" #categories="ngModel" label="Categories"
                 required displayField="name" [options]="categories$" compareField="id" multiple></matx-select>

    <matx-input name="image" [(ngModel)]="model.image" #image="ngModel" label="Image" required
                maxlength="100">
      <matx-errors [field]="image"></matx-errors>
    </matx-input>

    <matx-input name="thumbnail" [(ngModel)]="model.thumbnail" #thumbnail="ngModel" label="Name" required
                maxlength="100">
      <matx-errors [field]="thumbnail"></matx-errors>
    </matx-input>

    <button mat-raised-button color="primary">Save</button>
  </form>
</section>
