<mat-toolbar color="primary">
  <matx-back-button></matx-back-button>
  <div class="col">{{ operation | titlecase }} Order</div>
</mat-toolbar>

<section class="container py-3">
  <form #f="ngForm" (ngSubmit)="save(f)">

    <matx-autocomplete name="customer" [(ngModel)]="model.customer" #customer="ngModel" label="Customer"
                       required [options]="customers$" [filterBy]="filterCustomers">
      <ng-template matxAutocompleteTemplate let-option>{{ option.firstName }} {{ option.lastName }}</ng-template>
    </matx-autocomplete>

    <matx-table #table [data]="model.orderDetails" style="height: 500px" selectable="multiple" editable>
      <matx-column field="product" header="Product Name">
        <div *matxCell="let item">{{item.product.name}}</div>
        <matx-autocomplete *matxEditor="let controls" [formControl]="controls['product']" required class="w-100"
                           hideRequiredMarker [options]="products$" [filterBy]="filterProducts"
                           displayField="name"></matx-autocomplete>
      </matx-column>
      <matx-column field="unitCost" header="Unit Cost">
        <div *matxCell="let row = row">{{ getUnitCost(row) | currency }}</div>
      </matx-column>

      <matx-column field="quantity" header="Quantity">
        <mat-form-field *matxEditor="let controls" class="w-100">
          <input type="number" matInput [formControl]="controls['quantity']" min="1" max="1000" step="1" required>
        </mat-form-field>
<!--        <matx-input *matxEditor="let controls" type="number" [formControl]="controls['quantity']" hideRequiredMarker-->
<!--                    class="w-100" min="1" max="1000" step="1" required></matx-input>-->
      </matx-column>

      <matx-column field="linePrice" header="Total">
        <div *matxCell="let row = row" class="d-flex w-100 justify-content-end">{{ getLinePrince(row) | currency }}</div>
      </matx-column>


      <matx-column width="120px" frozen="right" noResizable
                   field="id">
        <ng-template matxHeader>
          <button mat-icon-button type="button" (click)="addOrderDetail()" matTooltip="Add">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="deleteSelectedOrderDetails()" matTooltip="Delete"
                  [disabled]="table.selectedRows.length === 0">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
        <ng-template matxCell let-row="row">
          @if (!row.editing) {
            <button mat-icon-button type="button" (click)="table.startEditing(row)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="deleteOrderDetailById(row.item.id)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          } @else {
            @if (row.loading) {
              <mat-spinner diameter="24" style="margin: 12px"></mat-spinner>
            } @else {
              <button type="submit" mat-icon-button (click)="saveOrderDetail(table, row)" matTooltip="Save">
                <mat-icon>save</mat-icon>
              </button>
            }
            <button mat-icon-button (click)="table.resetRow(row)" matTooltip="Cancel">
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </ng-template>
      </matx-column>
    </matx-table>

    <div class="row">
      <div class="col text-end">Total:</div>
      <div class="d-flex justify-content-end" style="width: 150px">{{getTotalBeforeTaxes() | currency}}</div>
      <div style="width: 120px"></div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-end align-items-center">Tax %:</div>
      <div style="width: 150px">
        <matx-select [options]="taxes$" [(ngModel)]="model.tax" name="tax"
                     hideRequiredMarker required compareField="id" displayField="taxPercentage"></matx-select>
      </div>
      <div style="width: 120px"></div>
    </div>

    <div class="row">
      <div class="col text-end">Total:</div>
      <div class="d-flex justify-content-end" style="width: 150px">
        {{getTotalBeforeTaxes() * (1 + (model.tax?.taxPercentage ?? 0) / 100) | currency}}
      </div>
      <div style="width: 120px"></div>
    </div>

    <button mat-raised-button color="primary">Save</button>
  </form>
</section>
