@if (shoppingCartSvc.shoppingCart$ | async; as shoppingCart) {
  <mat-toolbar color="primary">
    <matx-back-button></matx-back-button>
    <div class="col">{{ product.name }}</div>
    <div class="col-auto">
      <a mat-icon-button
         routerLink="/shopping-cart">
        <mat-icon [matBadge]="shoppingCart.totalItems"
                  matBadgeColor="accent" matBadgePosition="below">
          shopping_cart
        </mat-icon>
      </a>
    </div>
  </mat-toolbar>


  <main>
    <div class="container">
      <div class="row mx-md-0">
        <div class="col-sm-auto col-12">
          <img mat-card-image [src]="productImagesDir + product.thumbnail" alt="Photo of a {{product.name}}">
        </div>
        <div class="col">
          <div>
            <div class="row" style="text-align: justify">
              <div class="col">{{ product.description }}</div>
            </div>
            <div class="row pt-3">
              <div class="col">
                @if (product.discountedPrice) {
                  before: <s>{{ product.price | currency }}</s>
                  now: {{ product.discountedPrice | currency }}
                } @else {
                  price: {{ product.price | currency }}
                }
              </div>
              <div class="col-auto">
                <button mat-raised-button color="primary"
                        (click)="shoppingCartSvc.addProductToShoppingCart(shoppingCart, product)">Add To Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
}
