mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;

  &::ng-deep > .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }
}

matx-nav-tree {
  flex-grow: 1;
  height: 0;
  overflow-y: auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  ::ng-deep > router-outlet + * {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > main, & > * > main {
      flex-grow: 1;
      display: flex;
      overflow-y: auto;
      height: 0;
    }
  }
}
