<mat-sidenav-container>
  <mat-sidenav fixedInViewport
               [attr.role]="sideNavCtrl.isMobile ? 'dialog' : 'navigation'"
               [mode]="sideNavCtrl.isMobile ? 'over' : 'side'"
               [opened]="(!sideNavCtrl.isMobile || sideNavCtrl.opened)"
               (openedChange)="sideNavCtrl.opened = $event">
    <mat-toolbar class="bg-white p-1" style="height: 90px">
      <img
        src="https://github.com/Apress/beg-php-postgresql-e-commerce/blob/master/Code%20Download/Images/images/title.png?raw=true"
        alt="Main Logo"
        class="w-100 rounded">
    </mat-toolbar>
    <matx-nav-tree [items]="appPages"></matx-nav-tree>
    <mat-nav-list class="matx-nav-tree">
      @if (!(loggedIn$ | async)) {
        <mat-list-item routerLinkActive="active"
                       (click)="sideNavCtrl.opened = false">
          <mat-icon matListItemIcon>exit_to_app</mat-icon>
          <a matListItemTitle routerLink="/login"><h4>Login</h4></a>
        </mat-list-item>
      } @else {
        <mat-list-item (click)="logout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <div matListItemTitle>
            <h4>Logout</h4>
          </div>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
