<app-editable-table header="Taxes" [service]="service" [searchFn]="searchFn">
  <matx-column field="taxType" header="Type">
    <ng-template matxEditor let-controls>
      <mat-form-field class="w-100">
        <input type="text" [formControl]="controls.taxType" matInput required minlength="3">
        <mat-error>
          <matx-errors [field]="controls.taxPercentage"></matx-errors>
        </mat-error>
      </mat-form-field>
    </ng-template>
  </matx-column>
  <matx-column field="taxPercentage" header="Percentage">
    <ng-template matxEditor let-controls>
      <mat-form-field class="w-100">
        <mat-icon matPrefix>percent</mat-icon>
        <input matInput [formControl]="controls.taxPercentage" type="number" placeholder="Percentage"
               min="0" max="100" step="0.1" required>
        <mat-error>
          <matx-errors [field]="controls.taxPercentage"></matx-errors>
        </mat-error>
      </mat-form-field>
    </ng-template>
  </matx-column>
</app-editable-table>
