@if (shoppingCartSvc.shoppingCart$ | async; as shoppingCart) {
  <mat-toolbar color="primary">
    <matx-menu-button></matx-menu-button>
    <header class="row w-100">
      <h1 class="col d-flex align-items-center">
        <span>Popular products</span></h1>
      <div class="col-auto">
        <a mat-icon-button
           routerLink="/shopping-cart">
          <mat-icon [matBadge]="shoppingCart.totalItems"
                    matBadgeColor="accent" matBadgePosition="below">
            shopping_cart
          </mat-icon>
        </a>
      </div>
    </header>
  </mat-toolbar>

  <main>
    <div class="container-fluid pt-1" style="width: 99%">
      <div class="row">
        @for (product of popularProducts; track product) {
          <div class="col-12 col-sm-6 col-md-4 py-3">
            <mat-card>
              <mat-card-header>
                <!--            <div mat-card-avatar class="example-header-image"></div>-->
                <mat-card-title><h2>{{ product.name }}</h2></mat-card-title>
                <!--            <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
              </mat-card-header>
              <img mat-card-image [src]="productImagesDir + product.thumbnail" alt="Photo of a {{product.name}}">
              <mat-card-content>
                <p>{{ product.description }}</p>
              </mat-card-content>
              <mat-card-actions>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col align-content-center" style="min-width: 130px;">
                      @if (product.discountedPrice) {
                        <div class="row">
                          <div class="col-auto">before: <s>{{ product.price | currency }}</s></div>
                          <div class="col-auto">now: {{ product.discountedPrice | currency }}</div>
                        </div>
                      } @else {
                        price: {{ product.price | currency }}
                      }
                    </div>
                    <div class="col-auto">
                      <a [routerLink]="'/products/' + product.id" mat-button class="w-auto">View</a>
                      <button mat-button class="w-auto"
                              (click)="shoppingCartSvc.addProductToShoppingCart(shoppingCart, product)">Add To Cart
                      </button>
                    </div>
                  </div>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        }
      </div>

    </div>
  </main>
}
