<app-external-form-table header="Products" [service]="service">
    <ng-template matxColumn header="Thumbnail" let-item width="100px" noResizable>
        <img [src]="productImagesDir + item.thumbnail" alt="Product: {{item.name}}" style="width: 100%">
    </ng-template>
    <ng-template matxColumn header="Product" let-item>
        <div>
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
        </div>
    </ng-template>
    <matx-column header="Display" field="display" width="80px" noResizable></matx-column>
    <ng-template matxColumn header="Price" let-item width="100px" noResizable>
        $ {{item.price}}
    </ng-template>
    <ng-template matxColumn header="Discounted Price" let-item width="100px" noResizable>
        $ {{item.discountedPrice}}
    </ng-template>
</app-external-form-table>
