<mat-toolbar color="primary">
  <matx-back-button></matx-back-button>
  <div class="col">Shopping Cart</div>
</mat-toolbar>

<main>
  <form ngForm class="container" style="height: fit-content">
    @for (shoppingCartLine of shoppingCart.lines; track idx; let idx = $index) {
      <mat-card class="my-3">
        <mat-card-content>
          <div class="row">
            <div class="col-auto">
              <img mat-card-image [src]="productImagesDir + shoppingCartLine.product?.thumbnail"/>
            </div>
            <div class="col">

              <mat-card-header>
                {{ shoppingCartLine.product?.name }}
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col" style="min-width: 300px">{{ shoppingCartLine.product?.description }}</div>

                  <div class="col-auto d-flex flex-row text-end" style="min-width: 230px">
                    <div style="min-width: 80px">
                      {{ shoppingCartLine.product?.calculatedPrice | currency }}
                    </div>
                    <div class="ps-3">
                      <input type="number" style="width: 35px; text-align: right"
                             [name]="'quantity' + idx"
                             [(ngModel)]="shoppingCartLine.quantity"
                             (ngModelChange)="saveShoppingCartLine(shoppingCartLine)">
                    </div>
                    <div style="min-width: 80px">
                      {{ shoppingCartLine.linePrice | currency }}
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </form>
</main>

<mat-toolbar class="row">
  <div class="row text-end">
    <div class="col-auto">
      <a mat-raised-button color="primary"
         [disabled]="shoppingCart.totalItems === 0">Process Order</a>
    </div>
    <div class="col-auto">
      <a mat-raised-button color="warn"
         [disabled]="shoppingCart.totalItems === 0"
         (click)="clearShoppingCart()">Clear Cart</a>
    </div>
    <div class="col">Total Before Taxes:</div>
    <div class="col-auto" style="min-width: 80px">{{ shoppingCart.totalPriceBeforeTaxes | currency }}</div>
  </div>
</mat-toolbar>
