<mat-toolbar color="primary">
  <matx-menu-button></matx-menu-button>
  <div class="col">
    <matx-input [placeholder]="header" floatLabel="auto" class="toolbar-search-box"
                [ngModel]="this.params.search" (ngModelChange)="search($event)">
      <button mat-icon-button matPrefix>
        <mat-icon>search</mat-icon>
      </button>
    </matx-input>
  </div>
  <button mat-icon-button (click)="table.startAdding()">
    <mat-icon>add</mat-icon>
  </button>
  @if ((params | keys).length) {
    <button mat-icon-button (click)="navigate({})">
      <mat-icon>clear</mat-icon>
    </button>
  }
</mat-toolbar>

<main>
  <matx-table #table [data]="dataSource$" style="height: 100%" [pageIndex]="page.pageNumber" [pageSize]="page.size"
              editable>

    <!-- Other Columns -->

  </matx-table>


  <ng-template #actionsColumn matxColumn let-row="row" let-table="table" width="120px" frozen="right" noResizable
               field="id">
    @if (!row.editing) {
      <button mat-icon-button (click)="table.startEditing(row)" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteById(row.item.id)" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    } @else {
      @if (row.loading) {
        <mat-spinner diameter="24" style="margin: 12px"></mat-spinner>
      } @else {
        <button type="submit" mat-icon-button (click)="saveTableRow(table, row)" matTooltip="Save">
          <mat-icon>save</mat-icon>
        </button>
      }
      <button mat-icon-button (click)="table.resetRow(row)" matTooltip="Cancel">
        <mat-icon>cancel</mat-icon>
      </button>
    }
  </ng-template>
</main>

<mat-toolbar class="p-0 h-auto">
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons class="w-100"
                 [pageIndex]="page.pageNumber - 1"
                 [pageSize]="page.size"
                 [length]="page.totalElements"
                 (page)="handlePageChange($event)"
  ></mat-paginator>
</mat-toolbar>
