<mat-toolbar color="primary">
  <matx-menu-button></matx-menu-button>
  <div class="col">
    <matx-input [placeholder]="header" floatLabel="auto" class="toolbar-search-box"
                [ngModel]="this.params.search" (ngModelChange)="search($event)">
      <button mat-icon-button matPrefix>
        <mat-icon>search</mat-icon>
      </button>
    </matx-input>
  </div>
  <a mat-icon-button routerLink="add">
    <mat-icon>add</mat-icon>
  </a>
  @if ((params | keys).length) {
    <button mat-icon-button (click)="navigate({})">
      <mat-icon>clear</mat-icon>
    </button>
  }
</mat-toolbar>

<main>
  <matx-table #table [data]="dataSource$" style="height: 100%" [pageIndex]="page.pageNumber" [pageSize]="page.size" remote>

    <!-- Other Columns -->

  </matx-table>


  <ng-template #actionsColumn matxColumn let-item let-table="table" width="120px" frozen="right" noResizable
               field="id">
    <a mat-icon-button routerLink="edit/{{item.id}}" matTooltip="Edit">
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-icon-button (click)="deleteById(item.id)" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</main>

<mat-toolbar class="p-0 h-auto">
  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons class="w-100"
                 [pageIndex]="page.pageNumber - 1"
                 [pageSize]="page.size"
                 [length]="page.totalElements"
                 (page)="handlePageChange($event)"
  ></mat-paginator>
</mat-toolbar>
