<app-external-form-table header="Orders" [service]="service" expand="tax">
  <matx-column header="Reference" field="reference"></matx-column>
  <matx-column header="Status" field="status"></matx-column>
  <ng-template matxColumn header="Created On" let-item>{{ item.createdOn | date : 'short' }}</ng-template>
  <ng-template matxColumn header="Shipped On" let-item>{{ item.shippedOn | date : 'short' }}</ng-template>
  <ng-template matxColumn header="Tax" let-item>
    {{ item.tax.taxPercentage | number : '1.0' }} %
  </ng-template>
  <ng-template matxColumn header="Total" let-item>{{ item.totalAmount | currency }}</ng-template>
</app-external-form-table>
