<app-editable-table header="Departments" [service]="service">
  <matx-column field="name" header="Name">
    <ng-template matxEditor let-controls>
      <mat-form-field class="w-100">
        <input type="text" [formControl]="controls.name" matInput required minlength="3">
        <mat-error>
          <matx-errors [field]="controls.name"></matx-errors>
        </mat-error>
      </mat-form-field>
    </ng-template>
  </matx-column>
</app-editable-table>
